.u-text-color-white {
	color: var(--white-color);
}

.u-text-color-primary {
	color: var(--primary-color);
}

.divider {
	width: 100%;
}

.u-text-center {
	text-align: center;
}

.u-margin-bottom-medium {
	margin-bottom: 2.4rem;
}

.u-text-bold {
	font-weight: bold;
}

.u-text-right {
	text-align: right;
}

.u-text-small {
	font-size: 1.6rem;
}
