.u-text-color-white {
	color: var(--white-color) !important;
}

.u-text-color-primary {
	color: var(--primary-color) !important;
}

.u-text-display {
	font-family: var(--font-display) !important;
}

.divider {
	width: 100% !important;
}

.u-text-center {
	text-align: center !important;
}

.u-margin-bottom-medium {
	margin-bottom: 2.4rem !important;
}

.u-text-bold {
	font-weight: bold !important;
}

.u-text-black {
	font-weight: 900 !important;
}

.u-text-right {
	text-align: right !important;
}

.u-text-small {
	font-size: 1.6rem !important;
}
