:root {
	--primary-color: #0070c7;
	--primary-color-dark: #094067;
	--white-color: #fafafa;
	--grey-color: #788e9e;
	--green-color: #2cb67d;
	--red-color: #ff6e6c;
	--yellow-color: #ffd803;

	--font-display: "Nunito", cursive;
	--font-default: "Nunito Sans", sans-serif;
}
